In [1]:
import pandas as pd
import numpy as np

# Initial steps

## Working directory and table

In [2]:
dir = 'c:/Kotomin/StatWorks/6_Маркетинг/2023_06_analysis/'
file = "Database.csv"

## Load the dataframe

In [3]:
df = pd.read_csv(dir + file, dtype=str, sep=';')

In [4]:
df.columns.tolist()

['Unnamed: 0',
 'ND (Номер декларации)',
 'STAT (STAT)',
 'G071 (код таможни)',
 'G072 (Дата регистрации)',
 'G073 (Номер бланка)',
 'GD1 (Дата выпуска)',
 'G011 (Направление перемещения)',
 'G0121 (Таможенный режим)',
 'G021 (ИНН отправителя)',
 'G022 (Наименование отправителя)',
 'G023 (Адрес отправителя)',
 'G0231 (Код страны отправителя)',
 'G032 (Кол-во ТД1/2 или ТД3/4)',
 'G04 (общее кол-во листов спецификаций)',
 'G05 (Всего наименований товаров)',
 'G06 (Кол-во мест)',
 'G07 (Тип ГТД)',
 'G081 (ИНН получателя)',
 'G082 (Наименование получателя)',
 'G0831 (Код страны получателя)',
 'G083 (Адрес получателя)',
 'G091 (ИНН контрактодержателя)',
 'G092 (Наименование контрактодержателя)',
 'G0931 (Код страны контрактодержателя)',
 'G093 (Адрес контрактодержателя)',
 'G11 (Код торгующей страны)',
 'G12 (Общая таможенная стоимость по ГТД)',
 'G141 (ИНН декларанта)',
 'G142 (Наименование декларанта)',
 'G1431 (Код страны нахождения декларанта)',
 'G143 (Адрес декларанта)',
 'G15 (Страна отправления)',
 'G15A (Код страны отправления)',
 'G16 (Страна происхождения)',
 'G17A (Код страны назначения)',
 'G17B (Страна назначения)',
 'G18 (кол-во транспортных средств)',
 'G19 (Признак контейнерных перевозок)',
 'G202 (Условие поставки)',
 'G2021 (Пункт поставки товара)',
 'G21 (кол-во транспортных средств на границе)',
 'G221 (Букв.код валюты контракта)',
 'G222 (Общая фактурная стоимость по ГТД)',
 'G23 (Курс валюты)',
 'G230 (Дата курса валюты)',
 'G24 (характер сделки)',
 'G281 (Банковские реквизиты)',
 'G300 (Тип информации)',
 'G3010 (Тип документа)',
 'G301 (Свидетельство СВХ)',
 'G30 (Название станции/склада)',
 'G30SUBD (Район склада)',
 'G30CITY (Город склада)',
 'G30STREET (Улица склада)',
 'G3012 (Код там. органа)',
 'G541 (Номер свидетельства брокера)',
 'G541D (Дата свидетельства брокера)',
 'G541_NAM (Наименование брокера)',
 'G541_INN (ИНН брокера)',
 'G541_ADR (Адрес и контакты брокера)',
 'G5411 (Номер договора брокера с декларантом)',
 'G5411D (Дата договора брокера с декларантом)',
 'G5441 (ФИО заполнителя)',
 'G31_1 (Наименование и характеристики товаров)',
 'G31_11 (Фирма-изготовитель)',
 'G31_12 (Товарный знак, патент)',
 'G31_13 (Страна происхождения)',
 'G31_2 (Кол-во грузовых мест)',
 'G31_3 (Кол-во контейнеров)',
 'G31_7 (Кол-во товара в доп.ед.)',
 'G31_71 (Наименование доп.ед.)',
 'G31_8 (Кол-во товара во второй ед.изм.)',
 'G31_81 (Наименование второй ед.изм.)',
 'G31_82 (Код второй ед.изм.)',
 'G32 (Номер товара по ГТД)',
 'G33 (Код товара по ТН ВЭД)',
 'G34 (Код страны происхождения)',
 'G35 (Вес брутто, кг)',
 'G36 (Преференции, особ.уплаты)',
 'G37 (Процедура)',
 'G38 (Вес нетто, кг)',
 'G39 (Квота)',
 'G41A (Код доп.ед.изм.)',
 'G42 (Фактурная стоимость)',
 'G42RUB (Фактурная стоимость в рублях)',
 'G43 (Признак КТС)',
 'G430 (Метод определения ТС)',
 'G45 (Таможенная стоимость)',
 'G46 (Статистическая стоимость, USD.)',
 'GD0 (Код завершения таможенного оформления)',
 'GD2 (ЛНП долж.лица)',
 'USDKG (USD за КГ)',
 'FIRM (Доп.информация о контрактодержателе (Росстат))',
 'Unnamed: 93',
 'G020 (ОГРН отправителя)',
 'G027 (КПП отправителя)',
 'G024B (Код ОКАТО отправителя)',
 'G080 (ОГРН получателя)',
 'G087 (КПП получателя)',
 'G084B (Код ОКАТО получателя)',
 'G090 (ОГРН контрактодержателя)',
 'G097 (КПП контрактодержателя)',
 'G094B (Код ОКАТО контрактодержателя)',
 'G140 (ОГРН декларанта)',
 'G144B (Код ОКАТО декларанта)',
 'Unnamed: 104',
 'month',
 'contr',
 'Unnamed: 106',
 'Unnamed: 107',
 'Unnamed: 108',
 'Unnamed: 109',
 'Unnamed: 110',
 'Unnamed: 111',
 'Unnamed: 112',
 'Unnamed: 113',
 'Unnamed: 114',
 'Unnamed: 115',
 'G210 (резерв)',
 'month bor',
 'TTN (Номер ТТН)',
 'TTN_DATE (Дата ТТН)',
 'TNN (ТНН)',
 'VIDTRANST (Код транспорта)',
 'VIDTRANS_NAME (Вид транспорта)',
 'NTRANST (Номер транс.средства)',
 'G29T (Код таможни на границе)',
 'G29_NAME (Таможня на границе)',
 'TC_NAME (Перевозчик)',
 'TC_ADR (Адрес перевозчика)',
 'TC_COUNTRY (Страна перевозчика)',
 'Short',
 'CAS',
 'producer',
 'Contr',
 'per place 0',
 'per place 1',
 'Unnamed: 105',
 'Month',
 'short',
 'Спpавочный номер ГТД',
 'Код поста',
 'Неделя',
 'Дата подачи ГТД',
 'Порядковый номер ГТД',
 'Направление перемещения товара',
 'Код основного таможенного режима',
 'Дополнительный признак',
 'Код решения',
 'Дата выпуска груза',
 'ЛНП выпускающего инспектора',
 'ИНН отправителя',
 'Наименование отправителя',
 'Почтовый адрес отправителя',
 'Код СОАТО отправителя',
 'Код ИНН недроппользователя',
 'Код ОКПО недропользователя',
 'КПП отправителя',
 'Порядковый номер листа',
 'Общее количество листов в ГТД',
 'Общее кол-во листов спецификации',
 'Всего наименований товаров',
 'Количество мест',
 'ИНН получателя',
 'Наименование получателя',
 'Почтовый адрес получателя',
 'Код СОАТО получателя',
 'КПП получателя',
 'ИНН лица, ответствен. за фин. урегулирование',
 'Наименование лица, ответственного за фин. урегулирование',
 'Адрес лица ответственного за фин. урегулирование',
 'СОАТО лица, ответственного за фин. урегулирование',
 'КПП лица, ответственного за фин. урегулирование',
 'Код торгующей страны',
 'Общая таможенная стоимость',
 'Код валюты таможенной стоимости',
 'ИНН декларанта',
 'Наименование декларанта',
 'Почтовый адрес декларанта',
 'Код СОАТО декларанта',
 'КПП декларанта',
 'Страна отправления',
 'Код страны отправления',
 'Страна происхождения',
 'Код страны назначения',
 'Страна назначения',
 'Признак контейнерных перевозок',
 'Краткий буквенный код условия поставки',
 'Пункт поставки товара',
 'Теплоход и дата прибытия',
 'Код валюты контракта',
 'Общая фактурная стоим. товаров',
 'Курс валюты',
 'Характер сделки',
 'СВХ',
 'Краткое наименование банка обслуживающего сделку',
 'Номер АТД',
 'Описание и характер.товара',
 'Наименование фирмы изготовителя',
 'Товарный знак, место происхожжения, объект авторского права и т.д.',
 'Количество мест товаров',
 'Вид грузовых мест и маркировки товара',
 'Кол-во контейнеров для товара',
 '№ серии марок акцизного сбора',
 'Кол-во марок акцизного сбора',
 'Кол-во товара (в дополнительной единице измерения)',
 'Наименование дополнительной единицы измерения',
 'Кол-во в единицах физического объема',
 'Наименование единиц физического объема',
 'Код единицы измерения физического объема',
 'Номер товара по ГТД/списку',
 'Код товара по ТН ВЭД СНГ',
 'Дополнительный признак нетарифного регулирования',
 'Код страны происхождения',
 'Вес брутто (кг)',
 'Преференции, особенности уплаты платежей',
 'Процедура',
 'Вес нетто (кг)',
 'Вес нетто (т)',
 'Код валюты квоты',
 'Код единицы измерения квоты',
 'Наименование валюты/единицы измерения квоты',
 'Код дополнительной единицы измерения',
 'Фактурная стоимость',
 'Признак корректировки таможенной стоимости',
 'Метод определения таможенной стоимости',
 'Таможенная стоимость товара',
 'Статистическая стоимость товара',
 'Место оформления ГТД',
 'ИНН брокера',
 'ФИО декларанта',
 'Рабочий телефон декларанта',
 'Наименование док-та, подтв. полномочия декларанта',
 'Номер документа, подтв. полномочия декларанта',
 'Дата док-та, подтв. полномочия декларанта',
 'Дата окончания полномочий декларанта',
 'Должность работника декларанта',
 'Код вида документа, удостоверяющего личность',
 'Сокращённое наименование документа, удостоверяющего личность',
 'Серия док-та удостовер. личность декларанта',
 'Номер док-та удостовер. личность декларанта',
 'Кем выдан документ удостовер. личность декларанта',
 'Дата документа, удостоверяющего личность',
 'Грузовые единицы',
 'Кол-во контейнеров для ГТД',
 'Фактурная стоимость за доп. единицу',
 'Фактурная стоимость за кг',
 'Учетный номер бланка (ТД-1,2)',
 'Отношение нетто/брутто',
 'Стат стоимость за доп. единицу',
 'Статистическая стоимость за кг',
 'Код таможни на границе',
 'Признак учета',
 'Таможенные пошлины и сборы (RUB)',
 'Таможенные пошлины и сборы (USD)',
 'Unnamed: 116',
 'Unnamed: 117',
 'Unnamed: 118',
 'Unnamed: 119',
 'Спpавочный номеp ГТД',
 'Ронголит',
 'Столбец1',
 'Столбец2',
 'Столбец3',
 'Квота',
 'CoPr',
 'prod',
 'cas',
 'Hydroxyl value',
 'conc',
 'Unnamed: 101',
 'Номер',
 'Номер груза',
 'кр_название (контрактодержатель)',
 'адрес (контрактодержатель)',
 'название (пол/отпр)',
 'адрес (пол/отпр)',
 'Название (инофирма)',
 'Адрес (инофирма)',
 'Сумма(USD)',
 'Код (ГНГ)',
 'Текст главы ГНГ',
 'Описание груза',
 'Месяц',
 'Условия поставки',
 'Customs_Txt',
 'Country_Txt',
 'BName',
 'BRegN',
 'G42',
 'G38',
 'Поле86',
 'G0131',
 'Producer',
 'Net',
 'price',
 'KDT_TYPE (Информация о КДТ)',
 'MT',
 'cont',
 'Pack',
 'CONTR',
 'поставщик',
 'пункт поставки',
 'цена',
 'G121 (Код валюты там. стоимости)',
 'G180 (резерв)',
 'G5442 (Телефон заполнителя)',
 'G5447 (Должность заполнителя)',
 'TEXT1 (Оборотная сторона ГТД)',
 'TOVG (Информация о товаре из "Приложений")',
 'G31_20 (Код наличия упаковки)',
 'G31_9 (Кол-во товара в третьей ед.изм.)',
 'G31_91 (Наим. третьей ед.изм.)',
 'G31_92 (Код третьей ед.изм.)',
 'G474DOL (Сумма по гр.47 в USD)',
 'G474RUB (Сумма по гр.47 в RUR)',
 'VID_KTC (наличие КТС)',
 'G25 (Вид транспорта на границе)',
 'G26 (Вид транспорта внутри страны)',
 'G29 (Код таможни на границе)',
 'NTRANSS (Номера транс.средств)',
 'CONTAINERS (Номера контейнеров)',
 'Недея',
 'year']

In [5]:
df.shape

(114746, 325)

# Preprocessing

## Separate table subtypes

### From this column new subtype of table starts

In [7]:
st_col_2 = 'Спpавочный номер ГТД'  # start column for type 2
st_col_2_i = df.columns.get_loc(st_col_2)  # index of start column

### Type 2 (with Russian titles)

In [8]:
second_df = df[~df[st_col_2].isna()]  # filter only rows from type 2 table
second_df = second_df.iloc[:, st_col_2_i:]  # filter only columns of type 2 table

### Original column names with 'ГТД' codes

In [65]:
st_col_1 = 'ND (Номер декларации)'  # column critical for identification of cases for type 1
first_df = df[~df[st_col_1].isna()] # filter only rows from type 1 table
first_df = first_df.iloc[:, :st_col_2_i]  # filter only columns of type 1 table

In [66]:
first_df = first_df.reset_index(drop=True)
first_df.shape

(105946, 141)

#### Fix the discrepancy of "G021" column

In [67]:
start_index = first_df[first_df['G021 (ИНН отправителя)'] == 'YUSEN LOGISTIC (CHINA) CO.,LTD.'].index
start_index

Int64Index([42783, 69495, 96207], dtype='int64')

In [68]:
end_index = first_df[first_df['G021 (ИНН отправителя)'] == 'SHANDONG BAIRUI FINE CHEMICAL CO., LIMITED.'].index
end_index

Int64Index([43804, 70516, 97228], dtype='int64')

The trouble presented in cases: 48665 - 49686, 76446 - 77467, 104227 - 105248: errors in declaration.

File "2905320000 ПЭГ 2019-2020 20211022_0940-tdalenka-main2019". 

Manual correction is needed

In [16]:
fix_dir = 'c:/Kotomin/StatWorks/6_Маркетинг/2023_06_analysis/2/'
fix_df = pd.read_excel(fix_dir + '2905320000 ПЭГ 2019-2020 20211022_0940-tdalenka-main2019_repaired' + '.xlsx', dtype=str)

In [69]:
for i in range(3):
    first_df = first_df.drop(axis=0, index = [j for j in range(start_index[i], end_index[i] + 1)])
first_df = first_df.reset_index(drop=True)
first_df.shape

(102880, 141)

In [70]:
first_df = pd.concat([first_df, fix_df])
first_df = first_df.reset_index(drop=True)
first_df.shape

(103902, 142)

## Duplicates

In [128]:
for gtd in first_df['ND (Номер декларации)'].unique():
    for ved in first_df[first_df['ND (Номер декларации)'] == gtd]['G33 (Код товара по ТН ВЭД)'].unique():
        for cost in first_df[(first_df['ND (Номер декларации)'] == gtd) & (first_df['G33 (Код товара по ТН ВЭД)'] == ved)]['G42 (Фактурная стоимость)'].unique():
            indexes = first_df[(first_df['ND (Номер декларации)'] == gtd) & (first_df['G33 (Код товара по ТН ВЭД)'] == ved) & (first_df['G42 (Фактурная стоимость)'] == cost)].index
            for ind in indexes[1:]:
                first_df = first_df.drop(index=ind)

In [129]:
first_df.shape

(35083, 142)

In [141]:
first_df = first_df.reset_index(drop=True)

In [134]:
first_df['ND (Номер декларации)'].value_counts()

10013090/200721/0002862    66
10013090/220621/0002486    63
10013090/170521/0001951    57
10013090/290721/0002976    48
10013090/080921/0003525    45
                           ..
10323010/180321/0043792     1
10228010/180321/0111065     1
10323010/180321/0044481     1
10323010/170321/0043554     1
10216170/101121/0335895     1
Name: ND (Номер декларации), Length: 29997, dtype: int64

In [131]:
first_df[first_df['ND (Номер декларации)'] == '10013090/200721/0002862']['G33 (Код товара по ТН ВЭД)'].value_counts()

2930909509    24
2924190009    10
2902900000     8
2833298000     6
2901290000     5
2825100000     3
2909199000     3
2909498009     3
2909430009     2
2905170000     1
2905320000     1
Name: G33 (Код товара по ТН ВЭД), dtype: int64

In [133]:
first_df[(first_df['ND (Номер декларации)'] == '10013090/200721/0002862') & (first_df['G33 (Код товара по ТН ВЭД)'] == '2930909509')]['G42 (Фактурная стоимость)'].value_counts()

24.02     1
18.81     1
165.4     1
28.71     1
29.7      1
473.09    1
10.56     1
46.33     1
40.52     1
38.48     1
19.91     1
24.49     1
136.36    1
19.67     1
26.14     1
20.59     1
194.7     1
40.4      1
61.58     1
15.38     1
14.85     1
25.87     1
187.84    1
59.07     1
Name: G42 (Фактурная стоимость), dtype: int64

In [142]:
first_df[(first_df['ND (Номер декларации)'] == '10013090/200721/0002862') & (first_df['G33 (Код товара по ТН ВЭД)'] == '2901290000')]['G35 (Вес брутто, кг)'].value_counts()

9.79    1
0.03    1
0.1     1
0.16    1
0.12    1
Name: G35 (Вес брутто, кг), dtype: int64

In [143]:
first_df[(first_df['ND (Номер декларации)'] == '10013090/200721/0002862') & (first_df['G33 (Код товара по ТН ВЭД)'] == '2901290000') & (first_df['G35 (Вес брутто, кг)'] == '9.79')].index

Int64Index([23676], dtype='int64')

In [144]:
first_df[first_df['ND (Номер декларации)'] == '10013090/200721/0002862']['G05 (Всего наименований товаров)'].unique()

array(['657'], dtype=object)

## Column comparisons

### Sender country comparison

In [138]:
sum(first_df['G0231 (Код страны отправителя)'] != first_df['G15A (Код страны отправления)'])

304

In [139]:
(sum(first_df['G0231 (Код страны отправителя)'].isna()), sum(first_df['G15A (Код страны отправления)'].isna()))

(55, 39)

In [145]:
first_df[first_df['G0231 (Код страны отправителя)'] != first_df['G15A (Код страны отправления)']].loc[:, ['Unnamed: 0', 'G0231 (Код страны отправителя)', 'G15A (Код страны отправления)']].tail(30)

      Unnamed: 0 G0231 (Код страны отправителя) G15A (Код страны отправления)
26402      45544                             CH                            NL
26404      45546                             CH                            NL
26406      45548                             AT                            DE
26409      45551                             DE                            NL
26411      45553                             CH                            DE
26412      45554                             CH                            DE
26413      45555                             EE                            LT
26414      45556                             CH                            DE
26425      45567                             CH                            NL
26436      45578                             GB                            DK
26438      45580                             GB                            LT
26445      45587                             CH                            NL
26463      45605                             FR                            PL
26477      45619                             CH                            NL
26478      45620                             CH                            NL
26479      45621                             CH                            NL
26500      45642                            NaN                            DE
26513      45655                            NaN                            PL
26521      45663                            NaN                            CN
26529      45671                            NaN                            CN
28304      47451                            NaN                            RU
34074      57927                            NaN                           NaN
35075      73423                            NaN                            DE
35076      73436                            NaN                            PL
35077      73444                            NaN                            CN
35078      73452                            NaN                            CN
35079     101204                            NaN                            DE
35080     101217                            NaN                            PL
35081     101225                            NaN                            CN
35082     101233                            NaN                            CN

### Quntity of cargo units comparison

In [146]:
sum(first_df['G06 (Кол-во мест)'] != first_df['G31_2 (Кол-во грузовых мест)'])

12778

In [147]:
(sum(first_df['G06 (Кол-во мест)'] == "0"), sum(first_df['G06 (Кол-во мест)'].isna()))

(8184, 12)

In [148]:
(sum(first_df['G31_2 (Кол-во грузовых мест)'] == "0"), sum(first_df['G31_2 (Кол-во грузовых мест)'].isna()))

(8209, 12)

In [149]:
first_df[first_df['G06 (Кол-во мест)'] != first_df['G31_2 (Кол-во грузовых мест)']].loc[:, ['G06 (Кол-во мест)', 'G31_2 (Кол-во грузовых мест)']].head(5)

   G06 (Кол-во мест) G31_2 (Кол-во грузовых мест)
9                  8                            1
23                 7                            1
28                 2                            1
33                55                            1
37                21                            2

That's likely simply different values – need to collect both

### Receiver country codes comparison

In [150]:
sum(first_df['G0831 (Код страны получателя)'] != first_df['G17A (Код страны назначения)'])

42

In [151]:
(sum(first_df['G0831 (Код страны получателя)'].isna()), sum(first_df['G17A (Код страны назначения)'].isna()))

(40, 0)

In [153]:
first_df[first_df['G0831 (Код страны получателя)'] != first_df['G17A (Код страны назначения)']].loc[:, ['G0831 (Код страны получателя)', 'G17A (Код страны назначения)']].head(42)

      G0831 (Код страны получателя) G17A (Код страны назначения)
26157                            GB                           LT
26340                            GB                           LT
28051                           NaN                           LU
28088                           NaN                           DE
28089                           NaN                           DE
28090                           NaN                           BY
28095                           NaN                           BY
28100                           NaN                           LU
28103                           NaN                           UA
28107                           NaN                           US
28109                           NaN                           UA
28121                           NaN                           BY
28125                           NaN                           UZ
28126                           NaN                           FR
28144                           NaN                           UA
28145                           NaN                           JP
28148                           NaN                           CN
28152                           NaN                           BY
28156                           NaN                           GE
28166                           NaN                           BY
28167                           NaN                           AZ
28172                           NaN                           FI
28173                           NaN                           BY
28174                           NaN                           SJ
28187                           NaN                           SJ
28192                           NaN                           UA
28197                           NaN                           UA
28200                           NaN                           UZ
28201                           NaN                           UA
28208                           NaN                           US
28213                           NaN                           UA
28290                           NaN                           RU
28291                           NaN                           AB
28388                           NaN                           RU
28399                           NaN                           RU
28404                           NaN                           RU
28410                           NaN                           RU
28411                           NaN                           RU
28413                           NaN                           RU
28426                           NaN                           RU
28470                           NaN                           AB
28478                           NaN                           RU

### Customs costs comparison

In [154]:
sum(first_df[ 'G12 (Общая таможенная стоимость по ГТД)'] != first_df[ 'G45 (Таможенная стоимость)'])

12923

In [155]:
(sum(first_df['G12 (Общая таможенная стоимость по ГТД)'].isna()), sum(first_df['G45 (Таможенная стоимость)'].isna()))

(12, 0)

In [156]:
(sum(first_df['G12 (Общая таможенная стоимость по ГТД)'] == '0'), sum(first_df['G45 (Таможенная стоимость)'] == '0'))

(6597, 6606)

In [157]:
first_df[first_df['G12 (Общая таможенная стоимость по ГТД)'] != first_df['G45 (Таможенная стоимость)']].loc[:, ['G12 (Общая таможенная стоимость по ГТД)', 'G45 (Таможенная стоимость)']].head(5)

   G12 (Общая таможенная стоимость по ГТД) G45 (Таможенная стоимость)
9                                610791.91                   46665.97
23                              1557179.24                   86174.59
28                              1824107.26                    2976.53
33                               498583.65                    2589.21
37                              5387587.75                  400518.86

This parameters are different. Trouble with zero exists

### Country of product origin

In [181]:
sum(first_df['G16 (Страна происхождения)'] != first_df['G31_13 (Страна происхождения)'])

10016

In [159]:
(sum(first_df['G16 (Страна происхождения)'].isna()), sum(first_df['G31_13 (Страна происхождения)'].isna()))

(0, 71)

In [160]:
first_df[first_df['G16 (Страна происхождения)'] != first_df['G31_13 (Страна происхождения)']].loc[:, ['G16 (Страна происхождения)', 'G31_13 (Страна происхождения)']].tail(5)

      G16 (Страна происхождения) G31_13 (Страна происхождения)
35078                      КИТАЙ                         Китай
35079                   ГЕРМАНИЯ                      Германия
35080                   ГЕРМАНИЯ                      Германия
35081                      КИТАЙ                         Китай
35082                      КИТАЙ                         Китай

In [180]:
sum((first_df['G16 (Страна происхождения)'] == 'РАЗНЫЕ') | (first_df['G16 (Страна происхождения)'] == 'НЕИЗВЕСТНА'))

9590

In [178]:
first_df[first_df['G31_13 (Страна происхождения)'].isna()]['G16 (Страна происхождения)'].unique()

array(['НЕИЗВЕСТНА', 'РАЗНЫЕ'], dtype=object)

Difference is conditioned by value "РАЗНЫЕ" in G16. G3113 is preferable

### Currency costs comparison

In [162]:
sum(first_df['G222 (Общая фактурная стоимость по ГТД)'] != first_df['G42 (Фактурная стоимость)'])

14323

In [163]:
(sum(first_df['G222 (Общая фактурная стоимость по ГТД)'].isna()), sum(first_df['G42 (Фактурная стоимость)'].isna()))

(12, 12)

In [164]:
(sum(first_df['G222 (Общая фактурная стоимость по ГТД)'] == '0'), sum(first_df['G42 (Фактурная стоимость)'] == '0'))

(534, 536)

In [165]:
first_df[first_df['G222 (Общая фактурная стоимость по ГТД)'] != first_df['G42 (Фактурная стоимость)']].loc[:, ['G222 (Общая фактурная стоимость по ГТД)', 'G42 (Фактурная стоимость)']].head(5)

   G222 (Общая фактурная стоимость по ГТД) G42 (Фактурная стоимость)
9                                  6913.86                     512.5
23                                18616.92                      1025
28                                20505.31                     33.46
33                                  5038.4                     26.86
37                                57037.91                      4100

This parameters are different. Looks like G42 is the part of G222. Trouble with zero and NaN values also exists

## Test decimal columns

### Function tests that string is float

In [107]:
def is_float(string):
    try:
        float(string)
        return True
    except ValueError:
        return False

### list of tested columns

In [167]:
decimal_columns = [
    'G12 (Общая таможенная стоимость по ГТД)', 'USDKG (USD за КГ)', 'G05 (Всего наименований товаров)',
    'G06 (Кол-во мест)', 'G12 (Общая таможенная стоимость по ГТД)', 'G222 (Общая фактурная стоимость по ГТД)',
    'G23 (Курс валюты)', 'G31_2 (Кол-во грузовых мест)', 'G31_3 (Кол-во контейнеров)',  
    'G31_7 (Кол-во товара в доп.ед.)', 'G31_8 (Кол-во товара во второй ед.изм.)', 'G35 (Вес брутто, кг)',
    'G38 (Вес нетто, кг)', 'G39 (Квота)', 'G42 (Фактурная стоимость)', 'G42RUB (Фактурная стоимость в рублях)',
    'G45 (Таможенная стоимость)', 'G46 (Статистическая стоимость, USD.)'
]

In [168]:
for col in decimal_columns:
    print(sum([is_float(first_df[col].iloc[i]) for i in range(len(first_df.index))]))

35083
35083
35083
35083
35083
35083
35083
35083
35083
35083
35083
35083
35083
35083
35083
35083
35083
35083

# Filter columns

In [172]:
labels = [
    'G032 (Кол-во ТД1/2 или ТД3/4)', 'G04 (общее кол-во листов спецификаций)', 'G281 (Банковские реквизиты)',
    'G3010 (Тип документа)', 'G301 (Свидетельство СВХ)', 'G30 (Название станции/склада)', 'G30STREET (Улица склада)',
    'G541 (Номер свидетельства брокера)', 'G541D (Дата свидетельства брокера)', 'G541_ADR (Адрес и контакты брокера)', 
    'G5411 (Номер договора брокера с декларантом)', 'G5411D (Дата договора брокера с декларантом)', 
    'GD2 (ЛНП долж.лица)'
]
first_df = first_df.drop(labels, axis=1)
first_df = first_df.loc[:, :'FIRM (Доп.информация о контрактодержателе (Росстат))']
first_df.shape

(35083, 81)

In [182]:
first_df = first_df.drop('G16 (Страна происхождения)', axis=1)
first_df.shape

(35083, 80)

# Save Database to csv

In [183]:
first_df.to_csv(dir + 'СustomsData.csv', sep=';')